.recipe-card {
    width: 250px;
}

.price {
    position: absolute;
    top: 0;
    left: 45%;
    margin: auto;
    margin-top: -10px;
}

.dialog-add-recipe {
    max-width: 650px;
    min-width: 300px;
    min-height: 600px;
}

$size: 30px;

.ingredient-list .item {
    border: none;
    width: $size;
    height: $size;
}

.ingredient-list .item img {
    width: $size;
    height: $size;
}

.p-dialog-footer .p-button-icon,
.p-dialog-content .pi:not(.pi-trash) {
    display: none;
}

.p-confirm-dialog-message {
    margin-left: 0 !important;
}