<!-- GLOBAL TOAST -->
<p-toast position="top-center"></p-toast>
<!-- GLOBAL CONFIRMATION DIALOG -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<!-- macos-alike menu -->
<app-menu></app-menu>

<!-- Main content -->
<div class="container pt-3">
  <div class="row">
    <!-- navigation -->
    <div class="col col-md-2 mb-3">
      <p-listbox [options]="navOptions" [(ngModel)]="selectedNav" optionLabel="name" [routerLink]="selectedNav?.url" styleClass="nav-list">
        <ng-template let-navOption pTemplate="item">
          <i [class]="navOption.icon"></i>
          <span class="mx-3">{{ navOption.name }}</span>
        </ng-template>
      </p-listbox>
    </div>
    <!-- view -->
    <div class="col">
      <p-card [header]="selectedNav?.name" styleClass="view-card">
        <router-outlet></router-outlet>
      </p-card>
    </div>
  </div>
</div>

<div class="container position-fixed bottom-0 inline-block m-auto translate-middle start-50">
  <p-dock [model]="navOptions" position="bottom" (click)="$event.preventDefault()" styleClass="dock">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.imageUrl" [pTooltip]="item.name" tooltipPosition="top" [routerLink]="item.url" width="100%">
    </ng-template>
  </p-dock>
</div>